body{
    margin:0;
    background-color: #ffffff;
    color: black;
    font-family: 'Titillium Web',sans-serif;
}
#navbar{
    margin-top: -4rem;
    width: 100%;
    height: 3rem;
    display:flex;
    flex-direction: row;
    text-align: center;
    color: white;
    background-color: rgb(35, 32, 65);
    position:fixed;
}
#navbar>header>h1{
    padding: 0 .5rem;
    line-height: 43px;
    margin-top: 0px;
    height: 3rem;
    background: linear-gradient(#e66465, #9198e5);
}
#navbar>ul{
    margin-top: .75rem;
    text-align: left;
    margin-left: -2.4rem;
    font-size: 16px;
}
#navbar>ul>li{
    margin: 0rem .5rem;
    display: inline-block;
    list-style: none;
}
#navbar>ul>li>a{
    padding:.3rem .5rem;
    color: white;
    text-decoration: none;
}
#navbar>ul>li>a:hover{
    border-radius: .4rem;
    background-image: linear-gradient(to right, #e0c991, #d48183);
    text-decoration: none;
}
main{
    
    color: rgb(65,65,65);
    margin:4rem 1rem;
}
#welcome-section{
    display: flex;
    align-items: flex-end;
    color: white;
    background-image: url('https://i.pinimg.com/originals/40/ac/7e/40ac7eb988e00e405cc7744a3481c6ae.jpg');
    height: 88vh;
    border-radius: 20px;
}
#about-section{
    display:flex;
    flex-direction: row;
}
#about-section>p{
    line-height: 20px;
    width: 450px;
}
#about-section>img{
    width: 128px;
}
#profile-link{
    color: rgb(35, 32, 65);
}
#projects{
    display: flex;
    flex-direction: column;
}
#image{
    width: 100%;
    height: auto;
}
#title{
    text-align: center;
    margin-bottom: -10px;
}
.subtitle{
    text-align: center;
    margin-top: 0;
}
.p-subtitle{
    margin-bottom: -10px;
    text-align: start;
}
article{
    margin: auto;
    text-align: justify;
}
.project-viewport{
    width: 100%;
    height: 500px;
}
section{
    padding: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#img-caption{
    font-size: 13px;
    text-align: justify;
    width: 45%;
    height: 45%;
}
#img-div{
    width: 45%;
    height: 45%;
}
#image{
    border-radius: 50%;
}
footer{
    padding-left: 1.2rem;
    height: 10rem;
    background-image: linear-gradient(#8360c3, #2ebf91);
}
#footer-info{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer-link{
    color: aliceblue;
}
@media (min-width: 630px){
    article {
        width: 600px;    
    }
    section{
        margin: auto;
        width: 600px;
    }
    .brush-gif{
        width: 600px;
    }
    .project-viewport{
        width: 600px;
        height: 500px;
    }
}